.shop-button {
    background: linear-gradient(to right, #913a57, #c94f7c);
    color: #fff;
    border: none;
    padding: 10px 26px;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.3s ease;
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
}

.shop-button:hover {
    transform: scale(1.05);
    background: linear-gradient(to right, #6e1133, #d80246aa);
}