.hero {
    position: relative;
    overflow: hidden;
    min-height: 600px;
    width: 100% !important;
    max-width: 100%;
    flex: 0 0 100%;
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.hero-container .slick-list {
    overflow: hidden !important;
}

.hero-bg {
    height: 650px;
    width: 700px;
    background: rgba(145, 58, 87, 0.905);
    position: absolute;
    top: -50%;
    right: 0;
    border-radius: 30px;
    transform: rotate(45deg);
    z-index: 0;
    transition: all 0.3s ease;
}

.hero-container {
    width: 100%;
    max-width: 1400px;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.hero-slide {
    width: 100%;
}

.hero-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    color: #000000;
    text-align: left;

}

.hero.rtl .hero-text {
    text-align: right;
}

.hero-title {
    font-size: 4rem;
    font-weight: bold;
}

.hero-desc {
    font-size: 1.1rem;
    color: #36454F;
    line-height: 1.5;
}
.hero-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  overflow: hidden; /* keeps animation clean */
}

.hero-img {
  object-fit: contain;
  width: 550px;
  height: 500px;
  transform: translateY(-50px) scale(1.1); /* start slightly above */
  opacity: 0;
  animation: dropIn 1s ease-out forwards;
  transition: transform 0.3s ease;
}

/* Keyframes for drop-in effect */
@keyframes dropIn {
  0% {
    transform: translateY(-50px) scale(1.1);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1.1);
    opacity: 1;
  }
}
@media (max-width: 992px) {
    .hero-title {
        font-size: 2.8rem;
    }

    .hero-desc {
        font-size: 1rem;
    }

    .hero-img {
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 768px) {
    .hero {
        padding: 0px;
        margin-bottom: 20px;
    }

    .hero-bg {
        height: 500px;
        right: 100px;
        top: -55%;
    }
    .hero-grid {
        grid-template-columns: 1fr;
        gap: 20px;
        text-align: center;
    }

    .hero-text {
        align-items: center !important;
        text-align: center !important;
    }

    .hero-title {
        font-size: 2.3rem;
    }

    .hero-desc {
        font-size: 1rem;
    }

    .hero-img-wrapper {
        order: -1;
    }

    .hero-img {
        width: 600px;
        height: 400px;
        transform: scale(1);
    }
}