.checkout-info-page {
    padding: 40px 80px;
}

.checkout-grid {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.checkout-left {
    flex: 2;
    min-width: 300px;
}

.checkout-right {
    flex: 1;
    max-width: 350px;
    min-width: 280px;
}

.order-summary {
    margin-top: 40px;
    display: flex;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    color: #374151;
}

.total-row {
    font-weight: 700;
    font-size: 1.125rem;
}

.checkout-title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1.5rem;
    text-align: start;
}

.checkout-instructions {
    margin: 20px 0;
    text-align: start;
}

.checkout-instructions h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.checkout-instructions p {
    font-size: 1.25rem;
    color: #555;
    max-width: 90%;
}

.address-row {
    display: flex;
    gap: 16px;
    margin: 16px 0 32px 0;
    flex-wrap: wrap;
}

.deliver-btn {
    display: block;
    margin: 0 0 20px 20px;
    padding: 0rem 2.5rem;
    font-size: 1rem;
    font-weight: 500;
    width: 200px;
    height: 65px;
    transition: background 0.3s, transform 0.2s;
}

.deliver-btn:hover {
    transform: scale(1.05);
}

.form-separator {
    border: none;
    border-top: 3px solid #8d8b8b;
    margin: 1.5rem 0;
}

/* Medium screens (tablets) */
@media (max-width: 1124px) {
    .checkout-grid {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .checkout-left,
    .checkout-right {
        max-width: 100%;
    }

    .checkout-right {
        order: -1;
        width: 90%;
        margin: 0 auto;
    }


    .checkout-instructions h3 {
        font-size: 1.7rem;
    }

    .checkout-instructions p {
        font-size: 1.1rem;
    }

    .order-summary {
        position: relative;
        top: auto;
        max-height: none;
        width: 90%;
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {
    .checkout-info-page {
        padding: 40px;
    }

    .checkout-title {
        font-size: 1.75rem;
    }

    .checkout-instructions h3 {
        font-size: 1.5rem;
    }

    .checkout-instructions p {
        font-size: 1rem;
    }

    .deliver-btn {
        width: 100%;
        margin-left: 0;
    }

}