.btn-rectangular {
  display: inline-flex;           
  align-items: center;            
  justify-content: center;       
  gap: 8px;                       
  padding: 12px 16px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.btn-rectangular .btn-icon {
  display: flex;
  align-items: center;
  font-size: 1.2em;                
  line-height: 0;                 
}


.btn-rectangular.default {
  background-color: #bebdbd;
  color: #333;
  flex: 1;
  font-size: 1.2rem;
  font-weight: bold;
  max-width: 300px;
  background-image: linear-gradient(135deg, #bebdbd, #bebdbd);
  background-size: 200% 200%;
  background-position: 0% 0%;
  transition: background-position 0.3s ease, color 0.3s ease;
}

.btn-rectangular.default:hover {
  background-image: linear-gradient(135deg, #bebdbd, #9e9e9e);
  background-position: 100% 100%;
  color: white;
}

.btn-rectangular.primary {
  background-color: #913a57;
  color: white;
  flex: 1;
  font-size: 1.2rem;
  font-weight: bold;
  width: 60%;
  max-width: 300px;
  background-image: linear-gradient(to right, #913a57, #913a57);
  background-size: 200% 200%;
  background-position: 0% 0%;
  transition: background-position 0.3s ease, color 0.3s ease;
}

.btn-rectangular.primary:hover {
  background-image: linear-gradient(to right, #580822, #c94f7c);
  background-position: 100% 100%;
}

@media (max-width: 1024px) {
  .btn-rectangular {
    padding: 10px 14px;
    font-size: 1.1rem;
    max-width: 250px;
  }
}

/* Small screens (mobile) */
@media (max-width: 768px) {
  .btn-rectangular {
    padding: 8px 12px;
    font-size: 0.9rem;
    max-width: 100%;
    width: 100%;
    text-align: center;
  }
}
