@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@400;700&family=Playwrite+HU:wght@100..400&display=swap');
.dashboard-container {
    padding: 24px;
    min-height: 100vh;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dashboard-header>div {
    text-align: start;
}


.dashboard-date-box {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    padding: 10px 16px;
    border-radius: 8px;
}

.dashboard-date-box div {
    text-align: start;
}

h5 {
    font-size: 1rem;
    font-weight: 600;
}

h6 {
    font-size: 0.9rem;
    font-weight: 600;
    color: #979090;
    margin-top: 15px;
}

.calendar-icon {
    font-size: 24px;
    color: #979090;
}

.dashboard-info-cards {
    display: flex;
    gap: 22px;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.dashboard-split-layout {
    display: flex;
    gap: 24px;
    margin-top: 32px;
    flex-wrap: nowrap;
}

@media (max-width: 1200px) {
    .dashboard-header h1 {
        font-size: 2rem;
    }

    .dashboard-subtitle {
        font-size: 1.1rem;
    }

    h5 {
        font-size: 1.1rem;
    }

    h6 {
        font-size: 1rem;
    }

    .calendar-icon {
        font-size: 22px;
    }
}

@media (max-width: 950px) {
    .dashboard-header h1 {
        font-size: 1.6rem;
    }

    .dashboard-subtitle {
        font-size: 1rem;
    }

    h5 {
        font-size: 1rem;
    }

    h6 {
        font-size: 1rem;
    }

    .calendar-icon {
        font-size: 20px;
    }
}

@media (max-width: 838px) {
    .dashboard-header h1 {
        font-size: 1.6rem;
    }

    .dashboard-subtitle {
        font-size: 1.1rem;
    }

    h5 {
        font-size: 1.1rem;
    }

    h6 {
        font-size: 0.9rem;
    }

    .calendar-icon {
        font-size: 22px;

    }

    .dashboard-split-layout {
        flex-direction: column;
        gap: 16px;
    }
}

@media (max-width: 800px) {
    .dashboard-header h1 {
        font-size: 2rem;
    }

    .dashboard-subtitle {
        font-size: 1.2rem;
    }

    .dashboard-date-box {
        padding: 10px 0px;
    }

    h5 {
        font-size: 1.2rem;
    }

    h6 {
        font-size: 1.1rem;
    }

    .calendar-icon {
        font-size: 25px;
    }

}