/* --------- */
/* Navbar Section  */
/* --------- */
.navbar {
  position: fixed !important;
  transition: all 0.3s ease-out !important;
  padding: 0.2rem 1.4rem !important;
  font-size: 1.2rem !important;
  width: 100%;
  z-index: 999;
  background-color: white;
  top: 0;
}

.custom-navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0; 
  margin: 0; 
}

.center-nav {
  flex-grow: 1;
  justify-content: center;
  display: flex;
}

.logo {
  max-height: 60px;
  width: auto;
  object-fit: contain;
}
.brand-text {
  font-size: 2rem;
  font-weight: 700;
  color: #000000;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-link {
  color: #000000 !important;
}

.nav-link {
  padding: 0.8rem 1rem !important;
}

.navbar-nav .nav-item {
  position: relative;
}

.navbar-nav .nav-item a {
  font-weight: 600;
  transition: transform 0.3s ease, color 0.3s ease;
  position: relative;
  margin: 0 2px;
  z-index: 1;
  color: #000000 !important;
  font-size: 1.2rem;
  display: inline-block;
}

.navbar-nav .nav-item a:hover {
  color: #913a57 !important;
  transform: scale(1.05);
}

.navbar-nav .nav-item a.active {
  position: relative;
  font-weight: 600;
}

.navbar-nav .nav-item a.active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -0.5px;
  width: 80%;
  height: 4px;
  background-color: #913a57;
  border-radius: 2px;
  transform: translateX(-50%);
  transition: width 0.3s ease, height 0.3s ease;
  margin-bottom: 9px;
}

.navbar-nav .nav-item a:hover::after {
  width: 100%;
  height: 5px;
  border-radius: 3px;
}
.icon-with-badge {
  position: relative;
  display: inline-block;
}

.icon-with-badge .badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background: rgb(148, 8, 8);
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  padding: 2px 6px;
  min-width: 18px;
  text-align: center;
}


/* Sticky Style */
.sticky {
  background-color: #f9dee7 !important;
  transition: all 0.3s ease-out !important;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.171) !important;
}
.navbar-icons {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  
}

.navbar-icons button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, color 0.2s ease;
  color: #000000;
  border-radius: 6px;
}

.navbar-icons button:hover {
  transform: scale(1.1);
  color: #913a57;
  background-color: #f0f0f03f;
}

.navbar-icons button:focus {
  outline: none;
}

.navbar-icons .login-btn {
  color: #000000;
  font-weight: 600;
  border-radius: 6px;
  border: 2px solid #913a57;
  background-color: #ffc4d896;
  transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease;
  width: 100px;
}

.navbar-icons .login-btn:hover {
  background-color: #913a57;
  color: #fff;
  transform: scale(1.05);
}

/* -------------------------- */
/* Slide-in Mobile Navigation (Left Slide Panel) */
/* -------------------------- */

.mobile-nav {
  position: absolute;
  top: 0;
  width: 75%;
  max-width: 200px;
  padding: 3rem 3rem;
  background-color: #ded9d9;
  box-shadow: 2px 0 8px rgba(9, 9, 9, 0.1);
  flex-direction: column;
  text-align: center;
  display: none;
  height: 100vh;
  overflow-y: auto;
  transition: all 0.3s ease;
  z-index: 1000;
}

.mobile-nav.ltr {
  left: -100%;
}
.mobile-nav.ltr.active {
  left: 0;
}

.mobile-nav.rtl {
  right: -100%;
}
.mobile-nav.rtl.active {
  right: 0;
}



.mobile-nav .nav-item {
  margin: 1rem 0;
}

.mobile-nav .nav-item a {
  font-size: 1.2rem;
  font-weight: 600;
  color: #913a57;
  text-decoration: none;
  display: block;
  text-align: center;
}

.hamburger {
  display: block;
  cursor: pointer;
  z-index: 1001;
}
.mobile-hamburger {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1001;
}

.mobile-logo {
  margin-left: auto;
}

/* -------------------------- */
/* Responsive Design */
/* -------------------------- */

@media (max-width: 1200px) {
  .navbar-nav .nav-item a {
    font-size: 1rem;
  }
}

@media (max-width: 992px) {

  .navbar-nav .nav-item a {
    font-size: 0.7rem !important;
    padding: 0.5rem 0.5rem !important;
  }

  .logo {
    max-height: 50px !important;
    width: auto !important;
    object-fit: contain;
  }

  .center-nav {
    justify-content: center;
    flex-grow: 3;
  }

  .navbar-icons {
    gap: 0.5rem;
  }


  .navbar-icons .login-btn {
    width: 50px;
    font-size: 0.6rem;
    padding: 0.3rem 0.5rem;
  }
  
}


/* mobile */
@media (max-width: 768px) {
  .custom-navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .company-name {
    display: none;
  }

  .logo {
    height: 70px !important;
    width: auto !important;
    object-fit: contain;
  }

  .navbar-nav {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .mobile-nav {
    position: absolute;
    top: 0;
    left: -100%;
    width: 75%;
    max-width: 200px;
    padding: 3rem 3rem;
    background-color: #ded9d9;
    box-shadow: 2px 0 8px rgba(9, 9, 9, 0.1);
    flex-direction: column;
    text-align: right;
    display: none;
    height: 100vh;
    overflow-y: auto;
  }

  .mobile-nav.active {
    display: flex;
    left: 0;
  }

  /* Slide animation */
  @keyframes slideFadeIn {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .mobile-nav.active .nav-item a {
    animation-name: slideFadeIn;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: calc(var(--i) * 0.2s);
  }
}