/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
  display: none;
}
/* --------- */
/*Error */
/* --------- */
.error-message {
  color: rgba(227, 42, 42, 0.745);
  font-size: 1rem;
  margin-top: 10px;
}

/* --------- */
/*loading */
/* --------- */
.loading-message {
  color: rgb(141, 131, 131);
  font-size: 1rem;
  margin-top: 10px;
}
