.order-summary {
    margin-top: 40px;
    flex: 1 1 35%;
    background-color: #f9dee74c;
    padding: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.42);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

.order-summary h3 {
    font-size: 2rem;
    font-weight: bold;
    color: #36454F;
    text-align: start;
}

.order-summary hr {
    border: none;
    border-top: 2px solid #949597;
    margin: 1rem 0;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    color: #374151;
}

.total-row {
    font-weight: 700;
    font-size: 1.125rem;
}

.order-summary-btn {
    width: 70%;
    height: 65px;
    transition: background 0.3s, transform 0.2s;
}

.order-summary-btn:hover {
    transform: scale(1.05);
}

/* Responsive for mobile */
@media (max-width: 768px) {

    .order-summary h3 {
        font-size: 1.5rem;
    }

    .total-row {
        font-size: 1rem;
    }
}